POSTGRES_DB=jm_pormar_db
POSTGRES_USER=jm_pormar
POSTGRES_PASSWORD=JmPormarDB2026
POSTGRES_PORT=5432
BACKEND_PORT=8080

JWT_SECRET=replace_with_a_random_base64_secret_of_at_least_32_bytes
JWT_EXPIRATION_MS=86400000
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@jmpormar.com
ADMIN_PASSWORD=Admin2026
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost
CERTIFICATIONS_MAX_RECORDS=5


SPRING_PROFILES_ACTIVE=neon
SERVER_PORT=8080

DB_URL=jdbc:postgresql://HOST_NEON/jm_pormar_db?sslmode=require&channelBinding=require&options=endpoint%3DENDPOINT_ID
DB_USERNAME=neondb_owner
DB_PASSWORD=CAMBIAR_POR_PASSWORD_REAL

JWT_SECRET=CAMBIAR_POR_SECRET_DE_32_CARACTERES_MINIMO
JWT_EXPIRATION_MS=86400000

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@jmpormar.com
ADMIN_PASSWORD=Admin2026

CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost

CLOUDINARY_CLOUD_NAME=dkimpspid
CLOUDINARY_API_KEY=CAMBIAR_POR_API_KEY
CLOUDINARY_API_SECRET=CAMBIAR_POR_API_SECRET
CLOUDINARY_ROOT_FOLDER=jm-pormar

RUC_API_BASE_URL=https://api.json.pe/api
RUC_API_TOKEN=CAMBIAR_POR_TOKEN_REAL